*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

.alpha{
    list-style: lower-alpha;
    padding-left: 2em;
}

ol{
    margin: 1em 0;
}

ol li{
    margin-left: 18px;
}

li span {
    position: relative;
    left: 20px;
  }

header{
    width: 100%;
    top: 0;
    left: 0;
    position: static;
    z-index: 999;
    border-bottom: 1px solid lightgrey;
}


.header-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

img{
    width: 10%;
}

.navbar{
    margin-left: 1em;
}
.navbar ul li{
    display: inline-block;
    margin-right: 1em;
}

.blue{
    border-bottom: 2px solid blue;
    color: blue;
    padding-bottom: 1em;
    margin-bottom: 0;
}

main{
    margin-top: 3em;
    line-height: 1.8em;
}

h2,p{
    margin-bottom: 1.5em;
} 
.main-container{
    width: 80%;
    margin: 0 auto;
}

footer{
    margin: 3em 0;
}

.footer-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-footer i{
    color: aquamarine;
}

.left-footer ul li{
    display: inline-block;
}